.contact-page {
  background: #fcf3f2;
  min-height: 170vh;
  display: flex;
  justify-content: center;

  @media (min-width: 374px) {
    min-height: 150vh;
  }

  @media (min-width: 414px) {
    min-height: 135vh;
  }

  @media (min-height: 812px) {
    min-height: 125vh;
  }

  @media (min-width: 768px) {
    min-height: 115vh;
  }

  @media (min-width: 1280px) {
    min-height: 180vh;
  }

  .contact-container {
    position: absolute;
    top: 12%;
    width: 90vw;
    padding: 0px 1.2rem;
    text-align: center;
    z-index: 3;

    @media (min-width: 767px) {
      top: 8%;
    }
    @media (min-width: 1023px) {
      top: 12%;
    }

    h1 {
      font-size: 2.4rem;
      font-family: "Abril Fatface", cursive;
      @media (min-width: 767px) {
        font-size: 4.8rem;
      }
      @media (min-width: 1023px) {
        font-size: 7.2rem;
      }
    }

    h4 {
      font-size: 1.2rem;
      font-family: "Abril Fatface", cursive;
      @media (min-width: 767px) {
        font-size: 1.8rem;
      }
      @media (min-width: 1023px) {
        font-size: 2.4rem;
      }
    }

    p {
      font-size: 0.8rem;
      @media (min-width: 767px) {
        font-size: 1.2rem;
      }
      @media (min-width: 1023px) {
        font-size: 1.6rem;
      }
    }

    .social-media-bar {
      color: rgb(240, 136, 134);

      .social-media-icons {
        .social-media-icon {
          a {
            @media (max-width: 320px) {
              padding: 0;
            }

            p {
              font-size: 0.6rem;

              @media (min-width: 767px) {
                font-size: 0.9rem;
              }
              @media (min-width: 1023px) {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}
