@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px rgb(93,206,193)";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px rgb(93,206,193)";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(400);
$shadows-medium: multiple-box-shadow(200);
$shadows-large: multiple-box-shadow(100);
$shadows-extra-large: multiple-box-shadow(50);

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: rgb(252, 243, 242);
  overflow: hidden;

  #small-circles {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-small;
    z-index: 4;
    animation: animCircleLeft 180s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      left: 600px;
      width: 1px;
      height: 1px;
      border-radius: 50%;
      background: transparent;
      box-shadow: $shadows-small;
      z-index: 2;
    }
  }

  #medium-circles {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animCircleUp 180s linear infinite;
    z-index: 2;

    &:after {
      content: " ";
      position: absolute;
      top: 300px;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background: transparent;
      box-shadow: $shadows-medium;
      z-index: 4;
    }
  }

  #large-circles {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-large;
    animation: animCircleRight 90s linear infinite;
    z-index: 2;

    &:after {
      content: " ";
      position: absolute;
      right: 300px;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background: transparent;
      box-shadow: $shadows-large;
      z-index: 4;
    }
  }
  #extra-large-circles {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-extra-large;
    animation: animCircleDown 90s linear infinite;
    z-index: 4;

    &:after {
      content: " ";
      position: absolute;
      top: 600px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      z-index: 2;
      background: transparent;
      box-shadow: $shadows-extra-large;
    }
  }

  @keyframes animCircleLeft {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-2000px);
    }
  }

  @keyframes animCircleRight {
    from {
      transform: translateX(-2000px);
    }
    to {
      transform: translateX(0px);
    }
  }

  @keyframes animCircleUp {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }

  @keyframes animCircleDown {
    from {
      transform: translateY(-2000px);
    }
    to {
      transform: translateY(0px);
    }
  }

  .intro {
    position: absolute;
    top: 35%;
    width: inherit;
    padding: 0px 1rem;
    color: rgb(3, 14, 39);
    text-align: center;
    z-index: 3;

    .greeting {
      font-size: 0.9rem;
      color: rgb(238, 113, 108);
      letter-spacing: 5px;
      font-weight: 300;
      font-family: "Abril Fatface", cursive;
    }
    .name {
      font-size: 2.7rem;
      font-weight: 900;
      letter-spacing: 5px;
      font-family: "Abril Fatface", cursive;
    }

    .title {
      font-size: 1.8rem;
      font-weight: 600;
      font-family: "Abril Fatface", cursive;
    }

    .social-media {
      color: rgb(240, 136, 134);
    }
  }
}
