.main-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  background-color: red;
  color: greenyellow;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10vw;
    z-index: 1;

    .nav-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      .nav-link {
        a {
          text-decoration: none;
          color: inherit;
          padding-bottom: 5px;
          text-transform: uppercase;
          margin: 0.2rem;
          padding: 1rem 0.5rem;
        }

        a:hover {
          color: #0463a6;
          background: rgba(255, 255, 255, 0.2);
          text-decoration: none;
        }

        a:active {
          color: #0463a6;
          text-decoration: none;
        }
      }
    }
    .menu-icon {
      // display: none
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 24px;
      width: 36px;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      box-sizing: border-box;
      z-index: 1;

      &__line {
        display: block;
        position: relative;
        background: black;
        width: 36px;
        height: 3px;
        border-radius: 2px;
        background: #0463a6;

        &::before,
        &::after {
          content: "";
          position: absolute;
          background: inherit;
          height: 100%;
          border-radius: 2px;
        }

        &::before {
          transform: translateY(-8px);
          width: 120%;
        }
        &::after {
          transform: translateY(8px);
          width: 80%;
        }
      }
    }
    .menu-icon:focus {
      outline: none;
    }
  }
}
