.main-navigation {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  padding: 0 1rem;

  .logo {
    display: flex;
    flex-direction: row;
    width: 150px;
    align-items: center;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      color: rgb(236, 82, 129);
      text-transform: uppercase;
    }
  }
  .spacer {
    flex: 1;
  }

  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    .nav-link {
      a {
        text-decoration: none;
        margin: 0.2rem;
        padding: 1rem 0.5rem;
        color: rgb(67, 17, 120);
        text-transform: uppercase;
      }

      a:hover {
        color: rgb(236, 82, 129);
        background: rgba(255, 255, 255, 0.2);
        text-decoration: none;
      }
    }
  }
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .logo {
      .logo-text {
        display: none;
      }
    }
  }

  @media (min-width: 769px) {
    .menu-icon {
      display: none;
    }
  }
}
