.main-navigation {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;

  .logo {
    display: flex;
    flex-direction: row;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Abril Fatface", cursive;
    letter-spacing: 5px;

    a {
      text-decoration: none;
      color: rgb(3, 14, 39);
      font-size: 1.5rem;
    }
  }
  .spacer {
    flex: 1;
  }

  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    .nav-link {
      a {
        text-decoration: none;
        letter-spacing: 0.15em;
        margin: 0.2rem;
        padding: 1rem 0.5rem 0.4rem 0.5rem;
        color: rgb(3, 14, 39);
        transition: all 0.5s;
        position: relative;

        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: ".";
          color: transparent;
          background: rgb(238, 113, 108);
          height: 2px;
        }

        &:hover:after {
          width: 100%;
        }
        &:after,
        &:before {
          transition: all 0.5s;
        }

        &:hover {
          color: rgb(238, 113, 108);
          width: 100%;
          // text-decoration: none;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .logo {
      width: 70px;
      .logo-text {
        display: none;
      }
    }
  }

  @media (min-width: 769px) {
    .menu-icon {
      display: none;
    }
  }
}
