.side-navigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(67, 17, 120);
  z-index: 200;
  transition: all 0.5s ease-out;

  &.open {
    width: 100%;
    transition: all 0.5s ease-in;
  }

  .side-nav-link {
    padding: 0.5rem;
    margin: 1rem 2rem;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 5px;

    &:hover,
    &:active {
      color: rgb(236, 82, 129);
      text-decoration: none;
    }
  }

  .side-nav-links {
    .side-nav-link {
      a {
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: 0.05em;
        position: relative;
      }
    }
  }

  .side-nav-links {
    .side-nav-link a {
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: ".";
        color: transparent;
        background: #ffffff;
        height: 2px;
      }

      &:hover:after {
        width: 100%;
        background: rgb(236, 82, 129);
      }

      transition: all 0.5s;

      &:after,
      &:before {
        transition: all 0.5s;
      }
    }

    list-style: none;
    margin: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: 426px) {
    .side-nav-links {
      .side-nav-link {
        a {
          font-size: 1.75rem;
          font-weight: 500;
          letter-spacing: 0.15em;
          position: relative;
        }
      }
    }
  }

  .spacer {
    flex: 1;
  }
  .social-media {
    color: white;
    padding: 0.5rem;
    margin: 1rem 2rem;
    transition: all 0.5s;

    &:hover {
      color: rgb(236, 82, 129);
    }
  }
}
