@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px rgb(93,206,193)";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px rgb(93,206,193)";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(200);
$shadows-medium: multiple-box-shadow(100);
$shadows-big: multiple-box-shadow(50);

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: rgb(252, 243, 242);
  align-items: center;
  justify-content: space-around;
  // radial-gradient(
  //   ellipse at bottom,
  //   rgb(228, 217, 240) 0%,
  //   rgb(238, 231, 245) 100%
  // );
  overflow: hidden;

  #small-circles {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 60s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }

  #medium-circles {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 120s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }

  #large-circles {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 180s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }

  .intro {
    position: absolute;
    top: 40%;
    left: 0;
    width: inherit;
    padding: 0px 1rem;
    color: rgb(3, 14, 39);
    text-align: center;

    .greeting {
      font-size: 0.9rem;
      color: rgb(238, 113, 108);
      letter-spacing: 5px;
      font-weight: 300;
      font-family: "Abril Fatface", cursive;
    }
    .name {
      font-size: 2.7rem;
      font-weight: 900;
      letter-spacing: 5px;
      font-family: "Abril Fatface", cursive;
    }

    .title {
      font-size: 1.8rem;
      font-weight: 600;
      font-family: "Abril Fatface", cursive;
    }

    .social-media {
      color: rgb(240, 136, 134);
    }
  }
}
