.blog-feed {
  width: 95vw;
  padding: 0px 1.2rem;
  color: rgb(3, 14, 39);
  text-align: center;
  z-index: 3;
  display: grid;
  align-self: center;
  justify-content: space-between;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: 980px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 680px) {
    grid-template-columns: 1fr;
  }
}
