.menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;

  // flex-direction: column;
  // justify-content: space-around;
  // height: 24px;
  // width: 36px;
  // background: transparent;
  // border: none;
  // box-sizing: border-box;

  &__line {
    display: block;
    position: relative;
    background: rgb(3, 14, 39);
    width: 36px;
    height: 3px;
    border-radius: 2px;
    transition: background 0.5s;

    &:hover {
      background: rgb(238, 113, 108);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: inherit;
      height: 100%;
      border-radius: 2px;
    }

    &::before {
      transform: translateY(-8px);
      width: 100%;
    }

    &::after {
      transform: translateY(8px);
      width: 100%;
    }
  }
}
