//Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
// Layout.
@import "layout/header";
@import "layout/navbar";
@import "layout/sidenavbar";

//Components
@import "components/banner";
@import "components/socialmediabar";

//Icons
@import "components/menuicon";
@import "components/crossicon";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 2rem auto;

  p {
    margin: 1rem 0;
  }
}
