//Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

// Layout.
@import "layout/header";
@import "layout/navbar";
@import "layout/sidenavbar";

//Banners
@import "banners/banner";
@import "banners/landing";
@import "banners/projectsbanner";
@import "banners/projectsindex";

//Components
@import "components/socialmediabar";
@import "components/button";
@import "components/blob";
@import "components/projectcarousel";
@import "components/projectcard";
//Swiper Component
@import "../../../node_modules/swiper/css/swiper.css";

//Icons
@import "components/menuicon";
@import "components/crossicon";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

button {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  margin: 2rem auto;

  p {
    margin: 1rem 0;
  }
}
